h1 {
    color: rgba(5, 165, 13, 0.788);
}

ul {
    border: 5px solid;
    width: 25%;
    margin: auto;
    text-align: center;
    list-style: none;
    padding: 0;

}

ul li {
    border: 5px outset;
    display: inline-block;
}
img {
    display: block;
    margin: auto;
    width: 75%;
    height: 30%;
}
#City {
    display: block;
    width: 80%;
    margin: auto;
    height: 60%;
}
h2 {
    margin: auto;
}
title {
    margin: auto;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
#Rio {
    display: block;
    margin: auto;
    width: 80%;
    height: 60%;
}